
KIAPI/.vs/KIAPI/v15/Server/sqlite3/db.lock
KIAPI/.vs/KIAPI/v15/Server/sqlite3/storage.ide
KIAPI/.vs/KIAPI/v15/.suo
KIAPI/KIAPI/obj/Debug/netcoreapp2.0/KIAPI.csprojResolveAssemblyReference.cache
KIAPI/KIAPI/obj/Debug/netcoreapp2.0/KIAPI.csproj.FileListAbsolute.txt
KIAPI/KIAPI/obj/Debug/netcoreapp2.0/KIAPI.AssemblyInfoInputs.cache
KIAPI/KIAPI/obj/Debug/netcoreapp2.0/KIAPI.csproj.CoreCompileInputs.cache
KIAPI/KIAPI/obj/Debug/netcoreapp2.0/KIAPI.AssemblyInfo.cs
KIAPI/KIAPI/bin/Debug/netcoreapp2.0/KIAPI.runtimeconfig.json
KIAPI/KIAPI/bin/Debug/netcoreapp2.0/KIAPI.deps.json
KIAPI/KIAPI/bin/Debug/netcoreapp2.0/KIAPI.runtimeconfig.dev.json
KIAPI/KIAPI/obj/KIAPI.csproj.nuget.cache
KIAPI/KIAPI/obj/KIAPI.csproj.nuget.g.props
KIAPI/KIAPI/obj/KIAPI.csproj.nuget.g.targets
KIAPI/KIAPI/obj/project.assets.json
