
KIAPI/.vs/KIAPI/v15/Server/sqlite3/db.lock
KIAPI/.vs/KIAPI/v15/Server/sqlite3/storage.ide
KIAPI/.vs/KIAPI/v15/.suo
KIAPI/KIAPI/obj/Debug/netcoreapp2.0/KIAPI.csprojResolveAssemblyReference.cache
KIAPI/KIAPI/obj/Debug/netcoreapp2.0/KIAPI.csproj.FileListAbsolute.txt
KIAPI/KIAPI/obj/Debug/netcoreapp2.0/KIAPI.AssemblyInfoInputs.cache
KIAPI/KIAPI/obj/Debug/netcoreapp2.0/KIAPI.csproj.CoreCompileInputs.cache
KIAPI/KIAPI/obj/Debug/netcoreapp2.0/KIAPI.AssemblyInfo.cs
KIAPI/KIAPI/bin/Debug/netcoreapp2.0/KIAPI.runtimeconfig.json
KIAPI/KIAPI/bin/Debug/netcoreapp2.0/KIAPI.deps.json
KIAPI/KIAPI/bin/Debug/netcoreapp2.0/KIAPI.runtimeconfig.dev.json
KIAPI/KIAPI/obj/KIAPI.csproj.nuget.cache
KIAPI/KIAPI/obj/KIAPI.csproj.nuget.g.props
KIAPI/KIAPI/obj/KIAPI.csproj.nuget.g.targets
KIAPI/KIAPI/obj/project.assets.json
KIAPI/.vs/KIAPI/v15/Server/sqlite3/storage.ide-shm
KIAPI/.vs/KIAPI/v15/Server/sqlite3/storage.ide-wal
KIAPI/.vs/config/applicationhost.config
KIAPI/KIAPI/bin/Antlr3.Runtime.dll
KIAPI/KIAPI/bin/Google.Protobuf.dll
KIAPI/KIAPI/bin/log4net.dll
KIAPI/KIAPI/bin/Microsoft.AI.Agent.Intercept.dll
KIAPI/KIAPI/bin/Microsoft.AI.DependencyCollector.dll
KIAPI/KIAPI/bin/Microsoft.AI.PerfCounterCollector.dll
KIAPI/KIAPI/bin/Microsoft.AI.ServerTelemetryChannel.dll
KIAPI/KIAPI/bin/Microsoft.AI.Web.dll
KIAPI/KIAPI/bin/Microsoft.AI.WindowsServer.dll
KIAPI/KIAPI/bin/Microsoft.ApplicationInsights.dll
KIAPI/KIAPI/bin/Microsoft.AspNet.SignalR.Core.dll
KIAPI/KIAPI/bin/Microsoft.AspNet.SignalR.SystemWeb.dll
KIAPI/KIAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
KIAPI/KIAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
KIAPI/KIAPI/bin/Microsoft.Owin.dll
KIAPI/KIAPI/bin/Microsoft.Owin.Host.SystemWeb.dll
KIAPI/KIAPI/bin/Microsoft.Owin.Security.dll
KIAPI/KIAPI/bin/Microsoft.Web.Infrastructure.dll
KIAPI/KIAPI/bin/MySql.Data.dll
KIAPI/KIAPI/bin/Owin.dll
KIAPI/KIAPI/bin/System.Web.Helpers.dll
KIAPI/KIAPI/bin/System.Web.Razor.dll
KIAPI/KIAPI/bin/System.Web.Mvc.dll
KIAPI/KIAPI/bin/System.Web.WebPages.Deployment.dll
KIAPI/KIAPI/bin/WebGrease.dll
KIAPI/KIAPI/bin/System.Web.WebPages.Razor.dll
KIAPI/KIAPI/bin/System.Web.WebPages.dll
KIAPI/KIAPI/bin/System.Web.Optimization.dll
KIAPI/KIAPI/bin/System.Web.Http.WebHost.dll
KIAPI/KIAPI/bin/System.Net.Http.Formatting.dll
KIAPI/KIAPI/bin/Newtonsoft.Json.dll
KIAPI/KIAPI/bin/System.Web.Http.dll
