RESTAPI/.vs/
RESTAPI/KIAPI/bin/
RESTAPI/KIAPI/docs/
RESTAPI/KIAPI/obj/
RESTAPI/Logs/
TCPServer/TAWKI_TCPServer/obj
TCPServer/.vs/
TCPServer/TAWKI_TCPServer/bin/
TCPServer/Tests/bin/
TCPServer/Tests/obj/
WebApp/.vs/
WebApp/bin
WebApp/Tests/bin
WebApp/Tests/obj
WebApp/KIWebApp/bin
WebApp/KIWebApp/obj
WebApp/KIWebApp/Content/css/shared/style.css
*.map
WebApp/KIWebApp/Content/css/views/home/home.css
*.mp4
*.log
WebApp/KIWebApp/Content/css/shared/reset.min.css
WebApp/KIWebApp/Content/css/shared/style.min.css
WebApp/KIWebApp/Content/css/views/home/home.min.css
WebApp/KIWebApp/Content/css/views/servers.min.css
WebApp/KIWebApp/Content/css/views/servers/servers.min.css
WebApp/KIWebApp/Content/css/views/learn-more/learn-more.min.css
