.header {
    position: relative;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
}

.header-image {
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    width: 100%;
    height: 100%;
}

.header-image-home {
    background-image: url("/Content/static/bg-home.jpg");
    background-size: cover;
    filter: contrast(.8) grayscale(.8) brightness(.7);
}

.header-image-game {
    background-image: url("/Content/static/bg-game.jpg");
    background-size: cover;
    filter: contrast(.8) grayscale(.8) brightness(.7);
}

.header-image-server-browser {
    background-image: url("/Content/static/bg-server-browser.jpg");
    background-size: cover;
    filter: contrast(.8) grayscale(.8) brightness(.7);
}

.header-image-statistics {
    background-image: url("/Content/static/bg-statistics.jpg");
    background-size: cover;
    filter: contrast(.8) grayscale(.8) brightness(.7);
}

.header-image-learn-more {
    background-image: url("/Content/static/bg-learn-more.jpg");
    background-size: cover;
    filter: contrast(.8) grayscale(.8) brightness(.7);
}

.header-image-error {
    background-image: url("/Content/static/bg-error.jpg");
    background-size: cover;
    filter: contrast(.8) grayscale(.8) brightness(.7);
}

.header-color {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: linear-gradient(to left, #303030 60%, #222222);
}

.header-form {
    position: absolute;
    top: 15%;
    left: 75%;

    @media screen and (max-width: 1120px) {
        left: 65%;
    }

    @media screen and (max-width: 940px) {
        left: 58%;
    }

    @media screen and (max-width: 800px) {
        left: 51%;
    }

    @media screen and (max-width: 700px) {
        left: 44%;
    }
    // position to the far left beside the nav bar
    @media screen and (max-width: 600px) {
        left: 2%;
        width: 100%;
    }
}

.header-info {
    padding-top: 2em;
    filter: grayscale(0);
    width: 1200px;
    margin: 0 2em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 1275px) {
        width: auto;
        font-size: .75em;
    }

    & > h1 {
        color: white;
        font-size: 2em;
        margin-bottom: 0;
    }
}