$dash-large-font-size: 1.0em;
$dash-small-font-size: 0.7em;
$dash-large-font-color: $primary-font-color;
$dash-small-font-color: $secondary-font-color;

/* Colors for the vertical lines that appear in the dashboard header */
.dash-col-lblue:after {
    background: #66a3ff;
}

.dash-col-lorange:after {
    background: #ff8566;
}

.dash-col-orange:after {
    background: #ff8c66;
}

.dash-col-lred:after {
    background: #cc3300;
}

.dash-col-lgreen:after {
    background: #669900;
}

.dash-col-lgold:after {
    background: #ffc966;
}

.dash-col-lpurple:after {
    background: #6666ff;
}

.dash-col-tan:after {
    background: #ffc266;
}

.dash-col-green:after {
    background: #009900;
}

.dash-col-brown:after {
    background: #663300;
}

.dash-col-dpink:after {
    background: #660033;
}

.dash-col-dark:after {
    background: #ffffff;
}

.dash-col-gray:after {
    background: #999999;
}

.dash-row {
    //margin: auto 10% 0 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    ///border: 1px solid #d3d3d3;
    ///background-color: #66a8fb;

    overflow:hidden;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.dash-columns {
    float: left;
    position: relative;
    margin: 0.5em 0.2em;

    &:after {
        content: "";
        position: absolute;
        bottom: 20%;
        left: 0;
        height: 73%;
        width: 2px;
    }
}

.dash-columns-4 {
    width: 22%;
}

.dash-large-font {
    font-size: $dash-large-font-size;
    font-weight: bold;
    color: $dash-large-font-color;
}

.dash-small-font {
    font-size: $dash-small-font-size;
    color: $dash-small-font-color;
}

.dash-header {
    line-height: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

hr.dash {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(67, 67, 72, 0.75), rgba(0, 0, 0, 0));
    margin-top: 0;
    margin-bottom: 0; 
    padding-top: 2px; 
    padding-bottom: 2px; 
    background-color: #f1f2f4;
}