a.link-button-container {     
    text-decoration: none;
}
// layout
.link-button-container {
    // ignore double tap events, and make tap events more faster
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
}

.link-button-container i {
    margin-top: 4px;
    margin-bottom: 4px;

    // make icons smaller
    @media screen and (max-width: 600px) {
        font-size: 1.3em;
    }
    
}

.link-button-align {
    display: table-cell;
    vertical-align: middle;
    padding: 1px 5px;
}

// the box around the icon
.link-button {
    background-color: $primary-font-color;
    color: #333;
    border-color: #ccc;
    border-radius: 10px;
    text-align: center;
    

    &:hover {
        background-color: #333;
        color: $primary-font-color;
        @include box-shadow(0px 0px 26px 4px rgba(138,138,138,0.75));
        transition: 0.5s;
    }
}

.link-button-span {
    background-color: transparent;
    border-color: transparent;
    text-align: left;
    color: $primary-font-color;
    text-decoration: none;

    &>span {
        text-decoration: none;
    }

    // make icons smaller
    @media screen and (max-width: 600px) {
        display: none;
    }
}



.layout-3 {
    padding: 10px;
    float: left;
    width: 33.3333333333%; 

    
    /*// turn vertical
    @media screen and (max-width: 600px) {
        float: none;
        display: block;
        width: 50px;
        height: 33.3333333333%;
        padding: 0px;
    }*/
}