@import '../../utils/module';

@import 'live-map/missions';
@import 'live-map/live-map';
@import 'live-map/live-map-footer';
@import 'live-map/game-navigation';
@import 'live-map/icons';
@import 'live-map/online-players';
@import 'live-map/tooltip';
@import 'live-map/modal';
@import 'live-map/depot-resources';

@import 'dashboard';

$server-description-font-pack: $primary-font-stack;

.game-section {
	display: flex; 
	justify-content: center; 
	flex-wrap: wrap; 
	padding-bottom: 50px;
}

.info-layout {
	@extend %block-float;
	min-width:200px; 
	flex: 1;
	margin-left: 0%;
	margin-right: 2%;
	color: palette(dark-font, 'gray-nickel'); 
    padding: 0.5em;

	// remove padding and margins as it causes this section to look misaligned vertically to the rest of the content
	@media screen and (max-width: 1096px) {
		margin-left: 0%;
		margin-right: 0%;
		padding: 0.5em 0em;
	}

	& > h2 {
		font-size: 2em;
		@media screen and (max-width: 1070px) {
			font-size: 1.5em;
		}
	
		@media screen and (max-width: 520px) {
			font-size: 1em;
		}	

		padding: 0.2em;
		text-align: center;
	}    
}

.server-description {
	height:100%;
	padding: 0em;
	overflow:hidden;
	font-family: $server-description-font-pack;
	margin: 2em 0em;

	@media screen and (max-width: 1070px) {
		margin: 1.5em 0em;
	}

	@media screen and (max-width: 520px) {
		margin: 1em 0em;
	}

	h1 {
		font-size: 2em;
		@media screen and (max-width: 520px) {
			font-size: 1.4em;
		}
		font-weight: 500;
		text-align: center;
		font-family: $server-description-font-pack;
		padding: 0.2em 0em;
	}
	h2 {
		font-size: 1.8em;
		@media screen and (max-width: 520px) {
			font-size: 1.3em;
		}
		font-weight: 400;
		text-align: center;
		font-family: $server-description-font-pack;
		padding: 0.2em 0em;
	}
	h3 {
		font-size: 1.6em;
		@media screen and (max-width: 520px) {
			font-size: 1.2em;
		}
		font-weight: 300;
		text-align: center;
		font-family: $server-description-font-pack;
		padding: 0.2em 0em;
	}
	h4 {
		font-size: 1.4em;
		@media screen and (max-width: 520px) {
			font-size: 1.1em;
		}
		font-weight: 200;
		text-align: left;
		font-family: $server-description-font-pack;
		padding: 0.2em;
		margin: 0.5em 0em;
	}
	p {
		font-size: 1em;
		@media screen and (max-width: 520px) {
			font-size: 0.9em;
		}
		font-family: $server-description-font-pack;
		line-height: 1.2em;
		margin: 1em 0em;
	}
}



