.tooltipster-box  {
    min-width: 220px;
    max-width: 250px;
}

.tooltip-title {
    display: block;
    @include linear-gradient(background, rgb(78, 78, 78), rgb(55,55,55));
    color: $primary-font-color;
    text-align: center;
    font-weight: 800;
    font-size: 1em;
    line-height: 2em;
    margin-top: -6px;
    margin-left: -14px;
    margin-right: -14px;
}

.tooltip-content {
    padding-top: 5px;
    font-size: 0.8em;
    color: $secondary-font-color;
}

.tooltip-right-text {
    float: right;

    &:after {
        clear: right;
    }
}