@media screen and (max-width: 1000px) {
    .menu-item {
        font-size: 0.8em;
    }

    .search-count {
        font-size: 0.65em;
    }
}

@media screen and (max-width: 850px) {
    .menu-item {
        font-size: 0.7em;
        padding: 10px 20px;
    }

    .menu-item.selected::before {
        width: 10px;
    }

    .search-count {
        font-size: 0.65em;
        padding: 2px 10px;
    }
}

// increase font size to before as the menu is now above search results
@media screen and (max-width: 720px) {
    .menu-item {
        font-size: 1em;
        padding: 10px 30px;
    }

    .menu-item.selected::before {
        width: 20px;
    }

    .search-count {
        font-size: 0.75em;
        padding: 2px 15px;
    }
}