@Html.Partial("_Header", new KIWebApp.Models.HtmlHeaderModel
{
    HeaderImage = "header-image-server-error",
    Title = "Error",
    InputValue = ""
})

<div class="main">
    <div style="padding: 2em;">
        <p style="text-align: center;">There was a problem with the server - please come back and try again later</p>
        <p style="text-align: center;">If you keep seeing this page - please report this on our Discord channel</p>
    </div>
</div>