@model KIWebApp.Models.HtmlHeaderModel

<section class="header">
    <div class="header-image @Model.HeaderImage"></div>
    <div class="header-color"></div>
    <div class="header-info">
        <h1>@Model.Title</h1>
    </div>
    <div class="header-form">
        <form class="form-search" action="@Url.Action("Search", "Home")" method="post">
            <input id="Query" class="input" name="Query" type="text" value="@Model.InputValue">
            <input type="submit" class="button glass-black" value="Search" id="btnSearchSubmit">
        </form>
    </div>
</section>