div.main {
    // override the paddings on main for this page as we need the section background colors to take the full width

    padding-left: 0;
    padding-right: 0;

    h1 {
        font-size: 2em;
        font-weight: 900;
        padding-top: 10px;
        padding-bottom: 30px;
        text-align: center;
    }

    h2 {
        font-size: 1.8em;
        font-weight: 800;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h3 {
        font-size: 1.6em;
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h4 {
        font-size: 1.4em;
        font-weight: 700;
    }

    h5 {
        font-size: 1.2em;
        font-weight: 600;
    }

    h6 {
        font-size: 1em;
        font-weight: 600;
    }

    p {
        line-height: 1.5em;
        padding-bottom: 10px;
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    ul > li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    b {
        font-weight: 700;
    }

    section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}