/*
* Better function for color palettes using Sass maps
* Link: http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
* Usage: color: palette(brand,tan);
*/
div.main {
  padding-left: 0;
  padding-right: 0; }
  div.main h1 {
    font-size: 2em;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center; }
    @media screen and (max-width: 1000px) {
      div.main h1 {
        font-size: 1.8em; } }
    @media screen and (max-width: 750px) {
      div.main h1 {
        font-size: 1.5em; } }
  div.main h2 {
    font-size: 1.8em;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px; }
  div.main h3 {
    font-size: 1.6em;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px; }
    @media screen and (max-width: 1089px) {
      div.main h3 {
        font-size: 1.4em; } }
    @media screen and (max-width: 855px) {
      div.main h3 {
        font-size: 1.3em; } }
    @media screen and (max-width: 755px) {
      div.main h3 {
        font-size: 1.3em; } }
    @media screen and (max-width: 655px) {
      div.main h3 {
        font-size: 1.3em; } }
    @media screen and (max-width: 555px) {
      div.main h3 {
        font-size: 1.2em; } }
  div.main h4 {
    font-size: 1.4em;
    font-weight: 700; }
  div.main h5 {
    font-size: 1.2em;
    font-weight: 600; }
  div.main h6 {
    font-size: 1em;
    font-weight: 600; }
  div.main p {
    font-size: 1em;
    line-height: 1.5em;
    padding-bottom: 10px; }
    @media screen and (max-width: 1000px) {
      div.main p {
        font-size: 0.9em; } }
    @media screen and (max-width: 750px) {
      div.main p {
        font-size: 0.8em; } }
  div.main ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px; }
  div.main ul > li {
    padding-top: 5px;
    padding-bottom: 5px; }
    @media screen and (max-width: 1000px) {
      div.main ul > li {
        font-size: 0.9em; } }
    @media screen and (max-width: 750px) {
      div.main ul > li {
        font-size: 0.8em; } }
    @media screen and (max-width: 390px) {
      div.main ul > li {
        font-size: 0.7em; } }
  div.main b {
    font-weight: 700; }
  div.main section {
    padding-top: 20px;
    padding-bottom: 20px; }

#description, #features, #community {
  padding-left: 4em;
  padding-right: 4em;
  overflow: hidden; }
  @media screen and (max-width: 1070px) {
    #description, #features, #community {
      padding-left: 2em;
      padding-right: 2em; } }
  @media screen and (max-width: 520px) {
    #description, #features, #community {
      padding-left: 1em;
      padding-right: 1em; } }

#description {
  background-color: #292929; }

#features {
  background-color: #494949; }

#community {
  background-color: #292929; }

.thumbnail-layout-3 {
  width: 33.3333333333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 755px) {
    .thumbnail-layout-3 {
      width: 100%;
      float: none;
      padding-left: 0px;
      padding-right: 0px; } }

.thumbnail-layout-2 {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 755px) {
    .thumbnail-layout-2 {
      width: 100%;
      float: none;
      padding-left: 0px;
      padding-right: 0px; } }

.thumbnail {
  background-color: #292929;
  border-radius: 0;
  border: none;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.428571429;
  transition: border .2s ease-in-out;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; }

.thumbnail-short {
  height: 360px; }

.thumbnail-tall {
  height: 500px; }

.thumbnail-img-crop {
  height: 190px;
  width: 100%;
  overflow: hidden; }

.thumbnail-img-bg {
  background: url("/Content/static/learn-more/code.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.thumbnail-img-crop > img {
  width: inherit;
  display: block;
  border: 0; }

.thumbnail .caption {
  color: #a9aa9d;
  min-height: 180px;
  padding: 9px;
  font-size: 1em; }
  .thumbnail .caption h3 {
    color: #CACAC4; }
  .thumbnail .caption a {
    color: #c48214;
    outline: 0;
    transition: all .5s; }

@media screen and (max-width: 855px) {
  .thumbnail-layout-3 > .thumbnail > .thumbnail-img-crop {
    height: 125px; }

  .thumbnail-layout-3 > .thumbnail-short {
    height: 300px; } }
@media screen and (max-width: 755px) {
  .thumbnail-layout-3 > .thumbnail > .thumbnail-img-crop {
    height: 190px; }

  .thumbnail-layout-3 > .thumbnail-short {
    height: auto; } }

/*# sourceMappingURL=learn-more.css.map */
