@model KIWebApp.Models.GameModel

<div class="chat-window live-map-footer-content">
    <div class="chat-title">In-Game Chat</div>
    <div class="chat-message-body">
        <div class="chat-message">
            <span class="chat-username chat-redfor">Player 1</span>
            <span class="chat-body"> : Some Sample Redfor test to be tested out on a screen</span>
        </div>
        <div class="chat-message">
            <span class="chat-username chat-blufor">Player 2</span>
            <span class="chat-body"> : Some Sample Blufor text</span>
        </div>
        <div class="chat-message">
            <span class="chat-username chat-neutral">Player 3</span>
            <span class="chat-body"> : Some Sample Neutral text</span>
        </div>
        <div class="chat-message">
            <span class="chat-username chat-blufor">Player 4</span>
            <span class="chat-body">
                : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat eius totam, minus eaque quod vitae consectetur
                sed cumque reprehenderit aliquid?
            </span>
        </div>
    </div>
</div>