@model KIWebApp.Models.GameModel

<div class="chat-window live-map-footer-content mission-window">
    <div class="chat-title">Missions</div>
    <div class="chat-message-body">
        <div class="chat-message">
            <div class="chat-username chat-neutral">10:34 AM</div>
            <span class="chat-body">New mission 'Destroy Insurgent Camp' available</span>
        </div>
        <div class="chat-message">
            <div class="chat-username chat-neutral">12:24 AM</div>
            <span class="chat-body">Time has run out for mission 'Supply Strike' </span>
        </div>
        <div class="chat-message">
            <div class="chat-username chat-neutral">2:12 PM</div>
            <span class="chat-body">Player 'Igneous01' successfully completed mission 'Destroy Insurgent Camp'</span>
        </div>
        <div class="chat-message">
            <div class="chat-username chat-neutral">3:49 PM</div>
            <span class="chat-body">Mission 'Convoy Attack' failed</span>
        </div>
    </div>
</div>