@model KIWebApp.Models.GameModel

<div class="chat-window live-map-footer-content mission-window">
    <div class="chat-title">Missions</div>
    <div class="chat-message-body">
        <div class="chat-message">
            <div class="chat-username chat-neutral">10:34 AM</div>
            <span class="chat-body">New mission 'Destroy Insurgent Camp' available</span>
        </div>
    </div>
</div>