@model KIWebApp.Models.GameModel

<div class="chat-window live-map-footer-content">
    <div class="chat-title">Action Log</div>
    <div class="chat-message-body">
        <div class="chat-message">
            <span class="chat-username chat-neutral">12:23 PM</span>
            <span class="chat-body"> : Player 1 Hit Player 2 with AIM-104 AMMRAAM</span>
        </div>
        <div class="chat-message">
            <span class="chat-username chat-neutral">12:24 PM</span>
            <span class="chat-body"> : Player 2 Crashed</span>
        </div>
        <div class="chat-message">
            <span class="chat-username chat-neutral">1:00 PM</span>
            <span class="chat-body"> : Player 1 Landed at Sochi</span>
        </div>
        <div class="chat-message">
            <span class="chat-username chat-neutral">2:34 PM</span>
            <span class="chat-body">
                : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat eius totam, minus eaque quod vitae consectetur
                sed cumque reprehenderit aliquid?
            </span>
        </div>
    </div>
</div>