@model KIWebApp.Models.GameModel

<div class="chat-window live-map-footer-content">
    <div class="chat-title">Action Log</div>
    <div class="chat-message-body">
        <div class="chat-message">
            <span class="chat-username chat-neutral">12:00 PM</span>
            <span class="chat-body"> : This is work in progress and will be coming soon!</span>
        </div>
    </div>
</div>