<div id="InfoWindowTemplateCP">
    <div class="tooltip-title">{{Name}}</div>
    <div class="tooltip-content">
        Type:<span class="tooltip-right-text">{{Type}}</span>
        <br/>
        Status:<span class="tooltip-right-text">{{Status}}</span>
        <br/>
        Lat Long:<span class="tooltip-right-text">{{LatLong}}</span>
        <br/>
        MGRS:<span class="tooltip-right-text">{{MGRS}}</span>
        <br/>
        Blue:<span class="tooltip-right-text">{{BlueUnits}}</span>
        <br/>
        Red:<span class="tooltip-right-text">{{RedUnits}}</span>
        <br/>
        Capacity:<span class="tooltip-right-text">{{MaxCapacity}}</span>
        <br/>
        <br/>
        <br/>
        {{{Text}}}
        <br/>
    </div>
</div>