<div id="InfoWindowTemplateDepot">
    <div class="tooltip-title">{{Name}}</div>
    <div class="tooltip-content">
        Status:<span class="tooltip-right-text">{{Status}}</span>
        <br/>
        Lat Long:<span class="tooltip-right-text">{{LatLong}}</span>
        <br />
        MGRS:<span class="tooltip-right-text">{{MGRS}}</span>
        <br />
        Capacity:<span class="tooltip-right-text">{{CurrentCapacity}} / {{Capacity}}</span>
        <br />
        <br />
        {{{ResourceHtml}}}
    </div>   
</div> 