<div id="InfoWindowTemplateSM">
    <div class="tooltip-title">Mission</div>
    <div class="tooltip-content">
        Name:<span class="tooltip-right-text">{{TaskName}}</span>
        <br />
        Time Remaining:<span class="tooltip-right-text">{{TimeRemaining}}</span>
        <br />
        Status:<span class="tooltip-right-text">{{Status}}</span>
        <br />
        Lat Long:<span class="tooltip-right-text">{{LatLong}}</span>
        <br />
        MGRS:<span class="tooltip-right-text">{{MGRS}}</span>
        <br />
        <br />
        {{{TaskDesc}}}
    </div>
</div>
