<div id="ModalTemplateSM">
    <div class="modal-content">
        <div class="progress-bar-layout">
            <div class="progress-bar-title">Time Remaining: {{TimeRemaining}}</div>
            <div class="progress-bar">
                <span id="RestartTimeProgress" style="width: {{ProgressBarWidth}}%"></span>
            </div>
        </div>
        <br />
        <div class="modal-left-offset">
            Status:<span class="tooltip-right-text">{{Status}}</span>
            <br />
            Lat Long:<span class="tooltip-right-text">{{LatLong}}</span>
            <br />
            MGRS:<span class="tooltip-right-text">{{MGRS}}</span>
        </div>    
        <br />  
        <br />
        <hr />
        {{{TaskDesc}}}
    </div>
    
</div>